#u4797-4
{
	background-color: transparent;
	line-height: 50px;
	position: relative;
}

#u4798
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#menuu1017
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
}

#u1049
{
	background-color: #000000;
	position: relative;
}

#u1049:hover
{
	background-color: #999999;
}

#u1049:active
{
	background-color: #6B6B6B;
}

#u1049.MuseMenuActive
{
	background-color: #999999;
}

#u1051-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1020
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
}

#u1029
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1029:hover
{
	background-color: #AAAAAA;
}

#u1030-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1019,#u1033
{
	background-color: transparent;
}

#u1856
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1856:hover
{
	background-color: #AAAAAA;
}

#u1858-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1906
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1906:hover
{
	background-color: #AAAAAA;
}

#u1908-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1754
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1754:hover
{
	background-color: #AAAAAA;
}

#u1756-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2169
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u2169:hover
{
	background-color: #AAAAAA;
}

#u2172-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1045
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1045:hover
{
	background-color: #AAAAAA;
}

#u1048-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1024
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1024:hover
{
	background-color: #AAAAAA;
}

#u1029.MuseMenuActive,#u1856.MuseMenuActive,#u1906.MuseMenuActive,#u1754.MuseMenuActive,#u2169.MuseMenuActive,#u1045.MuseMenuActive,#u1024.MuseMenuActive
{
	background-color: #666666;
}

#u1025-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1018,#u1028,#u1034,#u1853,#u1903,#u1753,#u2168,#u1042,#u1021,#u2440
{
	background-color: transparent;
	position: relative;
}

#u1053,#u1054
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u1060
{
	background-color: #FFFFFF;
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
}

