#menuu895
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
}

#u927
{
	background-color: #000000;
	position: relative;
}

#u927:hover
{
	background-color: #999999;
}

#u927:active
{
	background-color: #6B6B6B;
}

#u927.MuseMenuActive
{
	background-color: #999999;
}

#u930-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u898
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
}

#u923
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u923:hover
{
	background-color: #AAAAAA;
}

#u925-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u897,#u921
{
	background-color: transparent;
}

#u1842
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1842:hover
{
	background-color: #AAAAAA;
}

#u1844-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1890
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1890:hover
{
	background-color: #AAAAAA;
}

#u1893-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1740
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u1740:hover
{
	background-color: #AAAAAA;
}

#u1742-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2155
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u2155:hover
{
	background-color: #AAAAAA;
}

#u2158-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u907
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u907:hover
{
	background-color: #AAAAAA;
}

#u910-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u902
{
	border-color: #777777;
	background-color: #000000;
	position: relative;
}

#u902:hover
{
	background-color: #AAAAAA;
}

#u923.MuseMenuActive,#u1842.MuseMenuActive,#u1890.MuseMenuActive,#u1740.MuseMenuActive,#u2155.MuseMenuActive,#u907.MuseMenuActive,#u902.MuseMenuActive
{
	background-color: #666666;
}

#u903-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u896,#u920,#u922,#u1839,#u1889,#u1739,#u2154,#u906,#u899,#u2422
{
	background-color: transparent;
	position: relative;
}

#u894,#u891
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u945,#u947
{
	background-color: #FFFFFF;
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
}

