.version.videography /* version checker */
{
	color: #000001;
	background-color: #1BACE8;
}

.html
{
	background: #FFFFFF url("../images/1h.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 678px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -195px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu945
{
	width: 0.01px;
	margin-left: -100px;
}

#u945
{
	z-index: 2;
	height: 919px;
}

#u945-bw
{
	z-index: 2;
	margin-top: 42px;
	height: 919px;
}

#u1913-4
{
	z-index: 4;
	width: 181px;
	min-height: 53px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 857px;
}

#u2399-4
{
	z-index: 8;
	width: 181px;
	min-height: 53px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 857px;
}

#u1914
{
	z-index: 12;
	width: 853px;
	min-height: 484px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 185px;
}

#u1916
{
	z-index: 13;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 704px;
}

#u894
{
	z-index: 14;
	height: 9px;
}

#u894-bw
{
	z-index: 14;
	margin-top: 195px;
	height: 9px;
}

#menuu895
{
	z-index: 16;
	width: 136px;
	margin-right: -10000px;
	margin-top: 204px;
	left: 122px;
}

#u896
{
	width: 136px;
}

#u927
{
	width: 136px;
	min-height: 28px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u927:hover
{
	width: 136px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u927:active
{
	width: 136px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u927.MuseMenuActive
{
	width: 136px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u930-4
{
	width: 136px;
	min-height: 28px;
	margin-right: -10000px;
	top: 5px;
}

#u927:hover #u930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u927:active #u930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u927.MuseMenuActive #u930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u897
{
	width: 156px;
	left: 136px;
}

#u923
{
	width: 156px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u923:hover
{
	width: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u925-4
{
	width: 148px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u923:hover #u925-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u921
{
	width: 120px;
	left: 156px;
}

#u1842
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u1842:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1844-4
{
	width: 112px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u1842:hover #u1844-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1890
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u1842.MuseMenuActive,#u1890:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1893-4
{
	width: 112px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u1842.MuseMenuActive #u1844-4,#u1890:hover #u1893-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1740
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u1890.MuseMenuActive,#u1740:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1742-4
{
	width: 112px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u1890.MuseMenuActive #u1893-4,#u1740:hover #u1742-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u922,#u1839,#u1889,#u1739,#u2154
{
	width: 120px;
}

#u2155
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u1740.MuseMenuActive,#u2155:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2155.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2158-4
{
	width: 112px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u1740.MuseMenuActive #u1742-4,#u2155:hover #u2158-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u2155.MuseMenuActive #u2158-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u907
{
	width: 156px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u923.MuseMenuActive,#u907:hover
{
	width: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u910-4
{
	width: 148px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u923.MuseMenuActive #u925-4,#u907:hover #u910-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u898,#u920,#u906,#u899
{
	width: 156px;
}

#u902
{
	width: 156px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u907.MuseMenuActive,#u902:hover
{
	width: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u902.MuseMenuActive
{
	width: 156px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u903-4
{
	width: 148px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u907.MuseMenuActive #u910-4,#u902:hover #u903-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u902.MuseMenuActive #u903-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u2422
{
	z-index: 69;
	width: 218px;
	margin-right: -10000px;
	left: 82px;
}

#u891
{
	z-index: 15;
	height: 39px;
}

#u891-bw
{
	z-index: 15;
	margin-top: 1px;
	height: 39px;
}

#u947,#u947-bw
{
	z-index: 3;
	height: 36px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 153px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

